@import url("../../fonts.scss");

.button {
  color: #fff;
  font-family: roboto-b;
  background: #ff4e53;
  border-radius: 10px;
  text-decoration: none;
  border: none;

  &__link {
    padding: 15px 80px;
    font-size: clamp(12px, 1.2vw, 18px);
  }

  &__modal {
    padding: 10px 25px;
    font-size: clamp(12px, 1.2vw, 16px);
  }
  &__submit {
    // padding-top: 10px;
    padding: 10px;
    // padding-bottom: 10px;
    font-size: clamp(12px, 1.2vw, 16px);
  }
    &__submit.sent {
      background-color: gray;
      color: white;
      cursor: not-allowed;
    }
  

  @media (max-width: 1300px) {
    padding: 8px 18px;
  }
}
