.match-card {
  border-radius: 8px;
  border: 1px solid #2f2d2d;
  padding: 10px;
  width: calc((100% - 10px * 3) / 4);
  max-width: 290px;

  @media (max-width: 1024px) {
    width: calc((100% - 10px * 2) / 3);
  }

  @media (max-width: 768px) {
    width: calc((100% - 10px * 1) / 2);
  }

  @media (max-width: 500px) {
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &-left {
      font-size: 12px;
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  &__status {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    color: white;

    &.status--upcoming {
      background-color: #2ea149;
    }

    &.status--ongoing {
      background-color: #ffc107;
      color: #212529;
    }

    &.status--completed {
      background-color: #6c757d;
    }

    &.status--unknown {
      background-color: #dc3545;
    }
  }

  &__format {
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 12px;
    background-color: #2f2d2d;
  }

  &__teams {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__team {
    background-color: #2f2d2d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 10px;
  }

  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__name {
    color: white;
    font-size: 14px;
    flex: 1;
    margin-left: 10px;
  }

  &__score {
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 30px;
    text-align: right;
  }

  &.match-card--bracket {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;

    @media (max-width: 768px) {
      max-width: 200px;
    }
  }
}
