@import url("../../fonts.scss");

.field-wrapper {
// font-family: roboto-r;
    display: flex;
    flex-direction: column;
    font-family: roboto-r;
  }
  .field-label {
    font-size: clamp(12px, 2vw, 16px);
    margin-bottom: 1%;
  }
  .text-input,
  .textarea-input {
    padding: 8px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    
  }
  .textarea-input {
    resize: vertical;
    min-height: 80px;
  }
  